.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color_Container{
  display: flex;
  align-items: center;
  justify-content: center;
     width: 540px;
     height: 300px;  
     background: blue;
     position: relative;
}

.innerBlock{
  display: flex;
  flex-wrap: wrap;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #000;
}



.red_bg {
  background: red;
}

.blue_bg {
  background: blue;
}

